Pandas ==1.5.3
urllib3==1.26.13
alpha_vantage==2.2.0
certifi
stockstats==0.3.0
numpy==1.24.3
requests==2.31
SQLAlchemy==1.4.44
beautifulsoup4==4.11.1
python_dateutil==2.8.1
PyYAML==6.0
lxml==5.4.0
mysqlclient
int_date==0.1.8
html5lib==1.1
yfinance==0.2.59
